*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 14px;
  background: #fafafa;
  color: #252b42;
  font-family: Georgia, sans-serif;
  font-weight: 500;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* ----header----- */

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  padding-top: 30px;
}

@media (max-width: 768.98px) {
  .header {
    padding-top: 30px;
  }
}

.header_content {
  display: flex;
  align-items: center;
  column-gap: 573px;
}

@media (max-width: 768.98px) {
  .header_content {
    display: flex;
    align-items: center;
    column-gap: 81px;
  }
}

.header__logo {
}

.header__title {
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #f1cdb3;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.header__subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  letter-spacing: 0.1em;
}

.header__menu {
}

.header__menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
}

.header__menu-item {
  font-family: "Arial", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #cdcdcd;
}

.header__menu-item_active {
  padding-bottom: 7px;
  border-bottom: 3px solid #f1cdb3;
}

/* ---section-house--- */

.block-house {
  position: relative;
  z-index: 2;
}

.block-house__content {
  position: relative;
  display: flex;
  column-gap: 42px;
}

@media (max-width: 768.98px) {
  .block-house__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 42px;
  }
}

.block-house__info {
  max-width: 460px;
  padding-top: 343px;
}

@media (max-width: 768.98px) {
  .block-house__info {
    max-width: 460px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
  }
}

.block-house__title {
  max-width: 310px;
  padding-bottom: 42px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
}

.block-house__text {
  display: inline-block;
  max-width: 460px;
  padding-bottom: 42px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
}

.block-house__btn {
  display: inline-block;
  padding: 15px 45px;
  max-width: 207px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  background: #f1cdb3;
  color: #292929;
  border-radius: 100px;
  letter-spacing: 0.06em;
  white-space: nowrap;
}

.block-house__btn:hover {
  background: #fddcc4;
}

@media (max-width: 768.98px) {
  .block-house__btn {
    margin: 0px auto;
  }
}

.block-house__image {
  padding-top: 180px;
}

@media (max-width: 768.98px) {
  .block-house__image {
    padding-top: 100px;
  }
}

.block-house__image img {
  max-width: 698px;
  object-fit: cover;
}

@media (max-width: 768.98px) {
  .block-house__image img {
    max-width: 569px;
    max-height: 593px;
    object-fit: cover;
  }
}

.block-house__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.block-house__picture {
}

/* ---block-about--- */

.block-about {
  background: #ffffff;
}

.block-about__content {
  display: flex;
  justify-content: center;
  column-gap: 120px;
  padding-bottom: 100px;
}

@media (min-width: 769px) {
  .block-about__image {
    padding: 80px 0 0px 0px;
  }
}

.block-about__info {
  padding-top: 94px;
  max-width: 36%;
}

.block-about__title {
  padding-bottom: 25px;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.block-about__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}

.block-about__info :nth-child(2) {
  padding-bottom: 25px;
}

/* ---block-friends---- */

.block-friends {
  background: #f6f6f6;
  position: relative;
}

.block-friends__content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 100px;
}

.block-friends__text {
  display: flex;
  justify-content: center;
}

.block-friends__title {
  padding-bottom: 60px;
  max-width: 400px;
  text-align: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  letter-spacing: 0.06em;
}

.block-friends__cards_wrapper {
  position: relative;
  max-width: 990px;
  margin: 0 auto 60px;
  overflow: hidden;
}

.block-friends__cards {
  position: relative;
  display: flex;
  column-gap: 90px;
}

.block-friends__cards_active-part {
  display: flex;
  column-gap: 90px;
}

.block-friends__arrow {
  position: absolute;
  margin-left: 40px;
  left: 0;
  top: 48%;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
}

.block-friends__arrow_right {
  transform: rotate(180deg);
  position: absolute;
  margin-right: 40px;
  right: 0;
  top: 48%;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
}

.block-friends__arrow_right:hover,
.block-friends__arrow:hover {
  background: #fddcc4;
}

.block-friends__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fafafa;
  cursor: pointer;
}

.block-friends__card img {
  margin-bottom: 30px;
  width: 270px;
  height: 270px;
}

.block-friends__card-text {
  padding-bottom: 30px;
  text-align: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.block-friends__card-btn {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 187px;
  height: 52px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  cursor: pointer;
}

.block-friends__card-btn:hover {
  background: #fddcc4;
}

.block-friends__button {
  margin: 0 auto;
  max-width: 261px;
  max-height: 52px;
  padding: 15px 45px;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #292929;
  background: #f1cdb3;
  line-height: 130%;
  letter-spacing: 0.06em;
  white-space: nowrap;
}

.block-friends__button:hover {
  background: #fddcc4;
}

/* ------block-help------- */

.block-help {
  background: #ffffff;
}

.block-help__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-help__title {
}

.block-help__text-title {
  padding-top: 80px;
  padding-bottom: 60px;
  max-width: 400px;
  text-align: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  letter-spacing: 0.06em;
}

.block-help__text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.block-help__cards {
  justify-content: center;
  max-width: 1100px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 120px;
  row-gap: 55px;
  margin-bottom: 100px;
}

/* .block-help__cards :nth-child(6) {
  margin-left: 34px;
} */

.block-help__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-help__card img {
  margin-bottom: 30px;
}
