*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

button {
  outline: none;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 14px;
  background: #fafafa;
  font-family: Monaco, sans-serif;
  font-weight: 500;
  background: #9da1a0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1000px;
  margin: 0 auto;
  // padding: 0 40px;
}

//----------

.header {
  margin-top: 30px;
  // margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .header__clicks {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .header__form-settings {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    .form-settings__item {
      display: flex;
      justify-content: center;
    }
  }

  .header__form-settings > div * {
    font-size: 20px;
  }

  .header__start-game {
    margin-bottom: 20px;
    width: 150px;
    height: 50px;
    font-size: 26px;
    border-radius: 20px;
    color: #2a2d2b;
    background-color: #70c88f;
    cursor: pointer;
    transition: all 0.5s;
  }

  .header__result {
    margin-bottom: 20px;
    font-size: 29px;
    color: red;
  }

  .header__button {
    width: 150px;
    height: 50px;
    font-size: 26px;
    border-radius: 20px;
    color: #2a2d2b;
    background-color: #70c88f;
    cursor: pointer;
    transition: all 0.5s;
  }

  .header__button:hover {
    background-color: #2eb75e;
  }
  .header__button:active {
    opacity: 0.5;
  }

  .header__clocks {
    padding: 10px;
    display: flex;
    margin-right: 20px;
    font-size: 25px;
    border: 1px solid black;
    color: #3e684d;
  }

  .header__info {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    row-gap: 30px;
  }
}

.main {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    .body__field {
      display: flex;
      flex-wrap: wrap;
      width: 415px;
      height: 415px;
      margin-bottom: 50px;
      // border: 1px solid black;
      padding: 10px;
      .field-item {
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        width: 35px;
        height: 35px;
        border: 1px solid black;
        cursor: pointer;
        background: gray;
        // border-radius: 5px;
      }

      .field-item__active {
        background: #70c88f;
      }
    }
    .body__score {
    }
  }
}

.disable-item {
  pointer-events: none;
}

.field {
}

.field__medium {
  width: 600px;
  height: 600px;
}
